<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @answer.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @answer.body %>
</p>

<p>
  <strong>Proposta:</strong>
  <%= @answer.proposta %>
</p>

<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<p>
  <strong>Prospect:</strong>
  <%= @answer.prospect %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
