<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sub_category.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub_category.category %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
